.scale2,
.scale4 {
  display: inline-block;
  animation-duration: .2s;
  animation-timing-function: linear;
}

@keyframes scale2 {
  from { transform: scale(1); }
  to { transform: scale(2); }
}

.scale2 {
  animation-name: scale2;
}

@keyframes scale4 {
  from { transform: scale(1); }
  to { transform: scale(4); }
}

.scale4 {
  animation-name: scale4;
}
