// Achieving https://bootswatch.com/materia/#forms but mostly with variables instead of selectors.

.block-form {
  margin-bottom: $paragraph-margin-bottom;

  label,
  .label {
    margin-bottom: $label-margin-bottom;
  }
}

.inline-form {
  display: inline;

  label,
  .label {
    margin-bottom: 0;
  }
}

.vertical-form {
  label,
  .label {
    display: block;
    max-width: fit-content;
    min-height: 28px;
  }

  .btn-group {
    margin-left: 4px;
  }
}

.horizontal-form {
  label,
  .label {
    display: inline-block;
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  &.block-form {
    margin-bottom: $paragraph-margin-bottom - $label-margin-bottom; // Margin doesn't collapse with inline-block labels.
  }
}

.label-text {
  display: inline-block;
  margin-right: 8px;
}

.invalid-feedback {
  position: absolute;
  width: unset;
  margin-top: -16px;
}

.form-control,
.custom-select {
  width: unset; // Instead of 100%.
  box-shadow: $input-box-shadow; // Instead of `$enable-shadows: true;` because we want:
  // https://github.com/twbs/bootstrap/blob/4ee2ae4ce07631cd108d4731242cb478ce5e63f2/scss/mixins/_forms.scss#L23
  // https://github.com/twbs/bootstrap/blob/4ee2ae4ce07631cd108d4731242cb478ce5e63f2/scss/_custom-forms.scss#L39

  &:disabled,
  &[readonly] {
    box-shadow: inset 0 -1px $gray;
  }
}

.custom-select {
  margin-top: 1px;
  vertical-align: baseline;
}

.custom-color {
  display: block;
  width: 60px;
  height: 20px;
  padding: 0;
  margin-top: 4px;
  background-color: transparent;
  border: 0;
}

.custom-range {
  padding-top: 10px;
  margin-top: -1px;
}

.range-value {
  margin-left: 8px;
}

.custom-checkbox,
.custom-switch {
  display: inline-block;
  padding-top: 6px;
  margin-top: -4px;
  margin-right: -8px;

  .custom-control-label {
    display: inline-block;
  }
}

.btn-icon {
  i.fas {
    width: unset;
    margin-right: 0;
  }
}

.is-invalid {
  margin-bottom: 20px;

  &.form-control {
    box-shadow: inset 0 -1px $danger;
  }

  &.form-control:focus {
    box-shadow: inset 0 -2px $danger;
  }
}

.is-valid {
  margin-bottom: 20px;

  &.form-control {
    box-shadow: inset 0 -1px $success;
  }

  &.form-control:focus {
    box-shadow: inset 0 -2px $success;
  }
}
