body {
  overflow-x: hidden;
  word-wrap: break-word;
}

article {
  margin-bottom: -$paragraph-margin-bottom;
  overflow-x: hidden;

  img,
  figure,
  svg.figure {
    @extend .d-block;
    @extend .mx-auto;
    @extend .img-fluid;

    margin-top: $spacer * 1.5;
    margin-bottom: $spacer * 1.5;
  }

  img {
    @extend .rounded;
  }

  figure {
    img,
    svg.figure {
      margin-bottom: $paragraph-margin-bottom;
    }

    figcaption {
      @extend .figure-caption;
      @extend .text-center;
    }
  }

  p + ol,
  p + ul {
    margin-top: -$paragraph-margin-bottom;
  }

  ol,
  ul {
    padding-left: 20px;
  }

  ol li {
    padding-left: 4px;
  }

  table {
    @extend .table;

    display: block;
    max-width: fit-content;

    margin: $paragraph-margin-bottom auto;

    overflow-x: auto;
    white-space: nowrap;

    td,
    th {
      padding: .3rem .6rem;
    }

    th {
      border-top: 0;
    }
  }
}

footer {
  padding-top: calc(#{$hr-margin-y} - 8px);
  margin-top: $hr-margin-y;
  user-select: none;
  border-top: $hr-border-width $hr-border-color solid;
}

a,
summary {
  &:focus {
    outline: none;
  }
}

a {
  color: $info;
  cursor: pointer; // Necessary for links without href.

  @include hover() {
    color: darken($info, 15%);
  }

  &:focus {
    text-decoration: underline;
  }
}

a[href^="#"] {
  color: $success;

  @include hover() {
    color: darken($success, 15%);
  }
}

a:not([href]) {
  color: $pink;

  @include hover() {
    color: darken($pink, 15%);
  }
}

details {
  padding: $paragraph-margin-bottom;
  margin-bottom: $paragraph-margin-bottom;
  background-color: $jumbotron-bg;
  border-radius: $border-radius;

  > :last-child,
  > :last-child > :last-child {
    margin-bottom: 0 !important;
  }
}

details[open] summary {
  margin-bottom: $paragraph-margin-bottom;
}

summary {
  font-weight: bold;

  &:hover,
  &:focus {
    color: $link-color;
  }
}

pre {
  padding: 10px;
  background-color: darken($body-bg, 5%) !important;
  border-radius: $border-radius;
}

abbr[title] {
  font-variant: none;
  text-decoration: none;

  &:hover {
    color: $link-color;
  }
}

// https://css-tricks.com/flexbox-truncated-text/
.col {
  min-width: 0;
}

.table-title {
  margin-bottom: $paragraph-margin-bottom / 2;
  font-weight: bold;
  text-align: center;
}

.table-title + * {
  margin-top: 0;
}

.table-with-vertical-border-after-column-2 {
  td:nth-child(2),
  th:nth-child(2) {
    border-right: (2 * $table-border-width) solid $table-border-color;
  }
}
