body {
  word-wrap: break-word;
}

a, summary {
  &:focus {
    outline: none;
  }
}

a {
  cursor: pointer; // Necessary for links without href.

  &:focus {
    text-decoration: underline;
  }
}

a {
  color: $info;

  @include hover() {
    color: darken($info, 15%);
  }
}

a[href^=\#] {
  color: $success;

  @include hover() {
    color: darken($success, 15%);
  }
}

summary {
  > :first-child {
    display: inline-block;
  }

  &:hover,
  &:focus {
    color: $link-color;

    > * {
      color: $body-color;
    }
  }
}

pre {
  padding: 10px;
  background-color: darken($body-bg, 5%) !important;
  border-radius: $border-radius;
}

footer {
  padding-top: calc(#{$hr-margin-y} - 8px);
  margin-top: $hr-margin-y;
  user-select: none;
  border-top: $hr-border-width $hr-border-color solid;
}

// https://css-tricks.com/flexbox-truncated-text/
.col {
  min-width: 0;
}
