h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}

$headline-margin-top-to-text-factor: 1.5; // Custom variable only used in this file.

h2 {
  margin-top: $h2-font-size * $headline-margin-top-to-text-factor;
}

h3 {
  margin-top: $h3-font-size * $headline-margin-top-to-text-factor;
}

h4 {
  margin-top: $h4-font-size * $headline-margin-top-to-text-factor;
}

$headline-margin-top-to-headline-factor: 1; // Custom variable only used in this file.

h1 + h2,
p.lead + h2 {
  margin-top: $h2-font-size * $headline-margin-top-to-headline-factor;
}

h2 + h3 {
  margin-top: $h3-font-size * $headline-margin-top-to-headline-factor;
}

h3 + h4 {
  margin-top: $h4-font-size * $headline-margin-top-to-headline-factor;
}

p.lead {
  margin-top: -7px;
}
