.command,
.copy-hint,
.static-output,
.dynamic-output {
  padding: 1px 3px;
  margin: -1px -3px;
  border-radius: 4px;
}

pre,
code {
  .command,
  .copy-hint,
  .static-output,
  .dynamic-output {
    padding: 2px 4px;
    margin: -2px -4px;
    border-radius: 4px;
  }
}

.static-output:hover {
  background-color: $blue;
}

.dynamic-output:hover {
  background-color: $green;
}

.dynamic-output-pointer .dynamic-output {
  cursor: pointer;
}

.prompt {
  font-weight: bold;
}

.click-to-copy {
  cursor: pointer;
}
