@media screen {
  body {
    padding-top: $body-padding-top;
    padding-bottom: calc(100vh - #{$body-padding-top} - #{$line-height-base} * 1rem - 1rem);
  }

  div.container-fluid {
    max-width: 1170px;
  }
}
