.text-underline {
  text-decoration: underline;
}

.text-line-through {
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
}

$svg-colors: () !default;
$svg-colors: map-merge(
  (
    "blue":   $blue,
    "purple": $purple,
    "pink":   $pink,
    "red":    $red,
    "orange": $orange,
    "yellow": $yellow,
    "green":  $green,
    "brown":  $brown,
    "gray":   $gray,
  ),
  $svg-colors
);

@each $color, $value in $svg-colors {
  .text-#{$color} {
    color: $value;
  }
}

svg.figure {
  user-select: none;

  fill: currentColor;
  stroke: currentColor;

  text {
    stroke-opacity: 0;
  }

  line,
  rect,
  circle,
  ellipse,
  polygon,
  polyline,
  path {
    fill-opacity: 0;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .filled {
    fill-opacity: 1;
    stroke-width: 0;
  }

  // Don't round corners.
  .angular {
    stroke-linecap: square;
    stroke-linejoin: miter;
  }

  marker > path {
    fill-opacity: 1;
    stroke-opacity: 0;
  }

  marker > circle {
    fill-opacity: 1;
    stroke-width: 1;
  }

  @each $color, $value in $svg-colors {
    .#{$color} {
      fill: $value;
      stroke: $value;
    }
  }
}
