$toc-width: 200px !default;

div#toc-column {
  @include make-col-ready();
  flex-shrink: 0;
  width: $toc-width + $grid-gutter-width;
  margin-top: 2px;
}

nav#toc {
  position: fixed;
  user-select: none;

  a {
    width: $toc-width;
    padding: 3px 0 3px 12px;
    margin-top: 3px;
    overflow: hidden;
    font-size: $font-size-base;
    font-weight: normal;
    color: #808080;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.active,
    &:focus,
    &:hover {
      padding-left: 10px;
      border-left-style: solid;
      border-left-width: 2px;
    }

    &.active {
      color: $link-color;
      border-left-color: $link-color;
    }

    &:focus,
    &:hover {
      color: $body-color;
      border-left-color: $body-color;
    }
  }

  ul.nav ul.nav a {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0;
    font-size: $font-size-sm;
  }
}

button#toc-toggler {
  position: fixed;
  right: $body-padding;
  bottom: $body-padding;
  z-index: 2010;
  display: none;
  color: $body-color;
  background-color: $body-bg;
  border-color: $body-color;

  span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23#{str-slice(ie-hex-str($body-color), 4)}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

@include media-breakpoint-down(md) {
  div#toc-column {
    position: absolute;
    width: 100%;
  }

  nav#toc {
    right: 0;
    bottom: -100%;
    left: 0;
    z-index: 2000;
    display: block;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba($body-bg, .97);
    transition: bottom .35s ease;

    &.shown {
      bottom: 0;
    }

    > ul {
      padding: $body-padding;
    }

    a {
      width: 100%;
    }

    ul.nav ul.nav {
      display: block;
    }
  }

  button#toc-toggler {
    display: block;
  }
}
