<form action="{{ site.mailchimp_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate class="d-inline">
    <input type="email" name="EMAIL" class="form-control d-inline" value="" placeholder="your email address">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ site.mailchimp_hidden }}" tabindex="-1" value=""></div>
    <button type="submit" name="subscribe" class="btn btn-sm btn-primary">Subscribe</button>
</form>
