---
layout: head
---

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><div>{{ site.title }}</div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav">
            {% for category in site.data.categories %}
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" title="{{ category.description }}"><i class="icon-left fas fa-{{ category.icon }}"></i>{{ category.name }}</a>
                    <div class="dropdown-menu">
                        {% assign articles = site.pages | where: "category", category.name | where_exp: "article", "article.published" | sort: "published" %}{% for article in articles %}
                            <a class="dropdown-item{% if article.url == page.url %} active{% endif %}" href="{{ article.url | relative_url }}">{% if article.icon %}<i class="icon-left fas fa-{{ article.icon }}"></i>{% endif %}{{ article.title }}</a>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="details-expander" class="nav-link" data-toggle="collapse" data-target="#navbar.show" title="Expand all information boxes."><i class="icon-left fas fa-plus-circle"></i>Expand</a>
                    <a id="details-collapser" class="nav-link d-none" data-toggle="collapse" data-target="#navbar.show" title="Collapse all information boxes."><i class="icon-left fas fa-minus-circle"></i>Collapse</a>
                </li>
                <li class="nav-item">
                    <a id="theme-toggler" class="nav-link" data-toggle="collapse" data-target="#navbar.show" title="Toggle the design theme."><i class="icon-left fas fa-adjust"></i><span id="theme-toggler-text"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" title="Follow this blog on social media."><i class="icon-left fas fa-external-link-alt"></i>Follow</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.reddit_community }}"><i class="icon-left fab fa-reddit-alien"></i>Reddit</a>
                        <a class="dropdown-item" href="https://twitter.com/{{ site.twitter_handle }}"><i class="icon-left fab fa-twitter"></i>Twitter</a>
                        <a class="dropdown-item" href="{{ site.telegram_channel }}"><i class="icon-left fab fa-telegram-plane"></i>Telegram</a>
                        <a class="dropdown-item" href="{% link feed.xml %}"><i class="icon-left fas fa-rss"></i>RSS/Atom</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">

{{ content }}

</div>
