/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

@import "body";
@import "links";
@import "article";
@import "headings";
@import "details";

@import "navbar";
@import "toc";

@import "code";
@import "cards";
@import "cursor";
@import "forms";
@import "icons";
@import "tables";

@import "katex";
@import "notation";
@import "react";
@import "svg";

@import "animations";
@import "selection";
@import "target";

@import "screen";
@import "print";
