article {
  overflow-x: hidden;

  img,
  figure,
  svg.figure {
    @extend .d-block;
    @extend .img-fluid;

    margin: $spacer * 1.5 auto;

    // '& + &' leads to 'article img + article img'.
    + img,
    + figure,
    + svg.figure {
      margin-top: $spacer * 2;
    }
  }

  img {
    @extend .rounded;
  }

  figure {
    img,
    svg.figure {
      margin-bottom: $paragraph-margin-bottom;
    }

    figcaption {
      @extend .figure-caption;
      @extend .text-center;
    }
  }

  ol,
  ul {
    padding-left: 20px;

    p {
      margin-bottom: 0;
    }
  }

  ol.long {
    padding-left: 25px;
  }

  ol > li {
    padding-left: 4px;
  }

  ol > li,
  ul > li {
    margin-top: $paragraph-margin-bottom / 2;
  }

  p + ol,
  p + ul {
    margin-top: -$paragraph-margin-bottom / 2;
  }

  ol.compact > li,
  ul.compact > li {
    margin-top: 0;
  }

  p + ol.compact,
  p + ul.compact {
    margin-top: -$paragraph-margin-bottom;
  }

  table {
    @extend .table;

    display: block;
    max-width: fit-content;

    margin: $paragraph-margin-bottom auto;

    overflow-x: auto;

    td,
    th {
      padding: .3rem .6rem;
    }

    th {
      border-top: 0;
    }
  }

  abbr[title] {
    font-variant: none;
    text-decoration: none;

    &:hover {
      color: $link-color;
    }
  }

  blockquote {
    padding-left: $paragraph-margin-bottom / 2;
    border-left: 2px solid $body-color;
  }

  footer {
    padding-top: $hr-margin-y;
    margin-top: $hr-margin-y;
    user-select: none;
    border-top: $hr-border-width solid $hr-border-color;
  }
}
