/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

article {
  overflow-x: hidden;

  img,
  figure,
  svg.figure {
    @extend .d-block;
    @extend .img-fluid;

    margin: $spacer * 1.5 auto;
  }

  img {
    @extend .rounded;
  }

  figure {
    + figure {
      margin-top: $spacer * 2;
    }

    img,
    svg.figure {
      margin-bottom: $paragraph-margin-bottom;
    }

    figcaption {
      @extend .figure-caption;
      @extend .text-center;

      margin: 0 auto;
    }
  }

  ol,
  ul {
    padding-left: 20px;

    p {
      margin-bottom: 0;
    }

    div p {
      margin-bottom: $paragraph-margin-bottom;
    }
  }

  ol.long {
    padding-left: 25px;
  }

  ol > li {
    padding-left: 4px;
  }

  ol > li,
  ul > li {
    margin-top: $paragraph-margin-bottom / 2;
  }

  p + ol,
  p + ul {
    margin-top: -$paragraph-margin-bottom / 2;
  }

  ol.compact > li,
  ul.compact > li {
    margin-top: 0;
  }

  p + ol.compact,
  p + ul.compact {
    margin-top: -$paragraph-margin-bottom;
  }

  table {
    @extend .table;

    display: block;
    max-width: fit-content;

    margin: 0 auto $paragraph-margin-bottom auto;

    overflow-x: auto;

    td,
    th {
      padding: .3rem .6rem;
    }

    thead th,
    > tr:first-child td,
    > tr:first-child th,
    > tbody:first-child tr:first-child td,
    > tbody:first-child tr:first-child th {
      border-top: 0;
    }

    tfoot td,
    tfoot th {
      border-top: (2 * $table-border-width) solid $table-border-color;
    }
  }

  abbr[title] {
    font-variant: none;
    text-decoration: none;

    &:hover {
      color: $link-color;
    }
  }

  blockquote {
    padding-left: $paragraph-margin-bottom / 2;
    border-left: 2px solid $body-color;
  }

  footer {
    padding-top: $hr-margin-y;
    margin-top: $hr-margin-y;
    user-select: none;
    border-top: $hr-border-width solid $hr-border-color;
  }
}
