/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

body {
  overflow-x: hidden;
  word-wrap: break-word;
}

// https://css-tricks.com/flexbox-truncated-text/
// Otherwise the width of the article can expand beyond the container.
.col {
  min-width: 0;
}
