/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

.custom-row {
  display: flex;
  flex-wrap: wrap;
  margin: -$paragraph-margin-bottom / 2;
}

.custom-column {
  width: 100%;
  padding: $paragraph-margin-bottom / 2;
}

@media (min-width: 576px) {
  .custom-column {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .custom-column {
    width: 33.333333%;
  }
}

.custom-card {
  display: block;
  width: 100%;
  color: $body-color;
  border: 1px solid $table-border-color;
  @extend .rounded;

  &:hover {
    color: $body-color;
  }
}

.custom-card-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 52.356%;
  overflow: hidden;

  svg.figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $paragraph-margin-bottom;
    margin: 0;
    object-fit: contain;
  }
}

.custom-card-title,
.custom-card-text,
.custom-card-date {
  margin: ($paragraph-margin-bottom / 2) $paragraph-margin-bottom;
}

.custom-card-title {
  font-size: $font-size-base * 1.25;
}

.custom-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 576px) {
  .custom-card-text {
    -webkit-line-clamp: 3;
    height: 72px;
  }
}

.custom-card-date {
  padding-bottom: $paragraph-margin-bottom;
  margin-bottom: 0;
  font-size: $font-size-base / 1.25;
}
