/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

// Achieving https://bootswatch.com/materia/#forms but mostly with variables instead of selectors.

// Unfortunately, this doesn't eliminate the `color-adjust` warning of `autoprefixer` as the CSS rules aren't combined,
// but at least we still get the same behavior when the CSS property `color-adjust` will actually be no longer supported.
// https://github.com/postcss/autoprefixer/releases/tag/10.4.8
.custom-control {
  print-color-adjust: exact;
}

.block-form {
  margin-bottom: $paragraph-margin-bottom - $label-margin-bottom;

  label,
  .label {
    margin-bottom: $label-margin-bottom;
  }
}

.inline-form {
  display: inline;

  label,
  .label {
    margin-bottom: 0;
  }
}

.vertical-form {
  label,
  .label {
    display: block;
    min-height: 28px;
  }
}

.horizontal-form {
  margin-left: -18px;

  .form-buttons {
    margin-left: 0;
  }

  label,
  .label {
    display: inline-block;
    margin-left: 18px;
    vertical-align: top;
  }

  .label.btn,
  .label.btn-group {
    margin-left: 21px; // Prevent the focus shadow from being hidden on the left side of the article.
  }
}

label,
.label {
  margin-top: -$label-margin-bottom / 2;

  > * {
    margin-top: $label-margin-bottom / 2; // Top margin for determine buttons which wrap to a new line.
  }
}

.form-buttons {
  label,
  .label {
    margin-top: 0;

    > * {
      margin-top: 0;
    }
  }
}

.label-text {
  display: inline-block;
  margin-right: 8px;
}

.label-for-textarea {
  margin-top: 2px;
  vertical-align: top;
}

.invalid-feedback {
  position: absolute;
  width: unset;
  margin-top: -16px;
}

.form-control,
.custom-select {
  width: unset; // Instead of 100%.
  box-shadow: $input-box-shadow; // Instead of `$enable-shadows: true;` because we want:
  // https://github.com/twbs/bootstrap/blob/4ee2ae4ce07631cd108d4731242cb478ce5e63f2/scss/mixins/_forms.scss#L23
  // https://github.com/twbs/bootstrap/blob/4ee2ae4ce07631cd108d4731242cb478ce5e63f2/scss/_custom-forms.scss#L39

  &:disabled,
  &[readonly] {
    color: $gray;
    box-shadow: inset 0 -1px $gray;
  }
}

.custom-select {
  margin-top: 1px;
  vertical-align: baseline;

  &.is-invalid {
    // Don't show the exclamation mark, use the original styles instead.
    padding-right: $custom-select-padding-x + $custom-select-indicator-padding;
    background: $custom-select-bg $custom-select-background;
  }

  // Fix the contrast on Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1539252
  option {
    color: $body-color;
    background-color: $jumbotron-bg;
  }
}

.custom-color {
  display: block;
  width: 60px;
  height: 20px;
  padding: 0;
  margin-top: 4px;
  background-color: transparent;
  border: 0;
}

.custom-range {
  padding-top: 10px;
  margin-top: -1px;
}

.range-value {
  margin-left: 8px;
}

.custom-checkbox,
.custom-switch {
  display: inline-block;
  padding-top: 6px;
  margin-top: -4px;
  margin-right: -8px;

  .custom-control-label {
    display: inline-block;
  }

  .custom-control-input:disabled ~ .custom-control-label::before {
    border-color: $custom-control-indicator-disabled-color;
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    border-color: $custom-control-indicator-checked-disabled-bg;
  }
}

.custom-switch .custom-control-input {
  &:checked ~ .custom-control-label::after {
    background-color: #fff;
  }

  &:disabled ~ .custom-control-label::after {
    background-color: $custom-control-indicator-disabled-color;
  }
}

.custom-select,
.custom-color,
.custom-range,
.custom-checkbox,
.custom-switch {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.is-invalid {
  margin-bottom: 20px;

  &.form-control,
  &.custom-select {
    box-shadow: inset 0 -1px $danger;
  }

  &.form-control:focus,
  &.custom-select:focus {
    box-shadow: inset 0 -2px $danger;
  }
}

.is-valid {
  margin-bottom: 20px;

  &.form-control,
  &.custom-select {
    box-shadow: inset 0 -1px $success;
  }

  &.form-control:focus,
  &.custom-select:focus {
    box-shadow: inset 0 -2px $success;
  }
}

/* Chrome, Safari, Edge, Opera */
// https://trac.webkit.org/wiki/Styling%20Form%20Controls#inputelement
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
