/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

h1 {
  margin-top: 0;
}

$heading-margin-top-to-text-factor: 1.4; // Custom variable only used in this file.
$heading-margin-top-to-heading-factor: .8; // Custom variable only used in this file.

h2 {
  margin-top: $h2-font-size * $heading-margin-top-to-text-factor;
}

h3 {
  margin-top: $h3-font-size * $heading-margin-top-to-text-factor;
}

h4 {
  margin-top: $h4-font-size * $heading-margin-top-to-text-factor;
}

h5 {
  margin-top: $h5-font-size * $heading-margin-top-to-text-factor;
  font-weight: bold;
}

h6 {
  margin-top: $h6-font-size * $heading-margin-top-to-text-factor;
}

h1 + h2,
p.lead + h2 {
  margin-top: $h2-font-size * $heading-margin-top-to-heading-factor;
}

h2 + h3 {
  margin-top: $h3-font-size * $heading-margin-top-to-heading-factor;
}

h3 + h4 {
  margin-top: $h4-font-size * $heading-margin-top-to-heading-factor;
}

h4 + h5 {
  margin-top: $h5-font-size * $heading-margin-top-to-heading-factor;
}

h5 + h6 {
  margin-top: $h6-font-size * $heading-margin-top-to-heading-factor;
}

hr + h2 {
  margin-top: 0;
}

p.lead {
  margin-top: -7px;
}
