/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

.icon-left {
  width: 1.25em;
  margin-right: .375em;
  text-align: center;
}

.icon-right {
  margin-left: .375em;
}

.fa-ul {
  margin-left: 2.2em !important;
}

.fa-li {
  left: -2.2em !important;
}
