/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

.katex,
.katex-display {
  user-select: all;
}

.katex-display {
  padding: 1px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
