/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

.katex {
  font-size: $font-size-base * 1.1;
  user-select: all;

  a {
    position: relative;
    z-index: 1; // Make all links clickable.
  }

  .mathsf,
  .textsf {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
  }
}

.katex-display {
  padding: 1px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
