div.dropdown-menu {
  min-width: 0;
  padding: 8px 0;
  margin: 0;
  overflow: hidden;

  a.dropdown-item {
    padding: 4px $body-padding !important;

    &.active {
      color: $link-color;
      background-color: unset;
    }
  }
}

nav.navbar {
  user-select: none;

  > div.container-fluid {
    padding: 0;
  }

  a.navbar-brand,
  a.nav-link {
    height: $navbar-height;
    padding: $body-padding !important;
    line-height: $navbar-height - 2 * $body-padding;
    white-space: nowrap;
  }

  button {
    margin: 0 $body-padding 0 0 !important;
  }

  li.dropdown.show > a {
    background-color: darken($primary, 7.5%);
  }

  div.dropdown-menu {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  ul.navbar-nav > li.active > a.nav-link {
    color: $navbar-dark-color !important;
    background-color: darken($primary, 7.5%);
  }

  a.navbar-brand {
    position: relative;
    margin-left: $navbar-icon-size + $body-padding !important;

    &:hover {
      color: $navbar-dark-color;
    }

    &:focus {
      color: $link-color;
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -$navbar-icon-size;
      display: inline-block;
      width: $navbar-icon-size;
      height: $navbar-icon-size;
      margin: auto 0;
      content: "";
      background-image: $navbar-icon;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}

$navbar-toggler-width: 56px !default;

@include media-breakpoint-down(md) {
  nav.navbar {
    a.navbar-brand div {
      max-width: calc(100vw - 4 * #{$body-padding} - #{$navbar-toggler-width} - #{$navbar-icon-size});
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    ul.navbar-nav {
      a.nav-link {
        height: unset;
        padding: ($body-padding / 3) $body-padding !important;
      }

      div.dropdown-menu {
        border-width: 0;
        border-radius: 0;
      }
    }
  }
}
