/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

@media print {
  body,
  details,
  pre,
  .custom-card {
    background-color: transparent !important;
  }

  details,
  pre,
  .custom-card,
  .bordered,
  div.notation {
    border: 1px solid #000;
  }

  .custom-card {
    text-decoration: none !important;
  }

  footer,
  hr {
    border-top: 1px solid #000;
  }

  a[href^="#"] {
    text-decoration: underline dashed;
  }

  div.container-fluid {
    padding: 0;
  }

  abbr[title]::after {
    content: none;
  }

  a.anchorjs-link {
    display: none;
  }

  .row {
    flex-wrap: nowrap;
  }

  ul.tabs {
    li {
      background-color: #fff;
      border: 1px solid #000;
    }

    li.active {
      font-weight: bold;
      color: #000;
      background-color: #fff;
    }
  }

  details ul.tabs li {
    background-color: #fff;
  }

  div.notation {
    .shown + .shown {
      border-top: 1px solid #000;
    }
  }

  body,
  code,
  table,
  .table,
  a,
  a:hover,
  a[href^="#"],
  a[href^="#"]:hover,
  .figure-caption,
  article figure figcaption,
  .form-control,
  .form-control:focus,
  .custom-select,
  .custom-card,
  .custom-card:hover,
  .custom-card-date,
  .highlight .p,
  .highlight .x {
    color: #000;
  }

  .custom-select,
  .form-control {
    box-shadow: inset 0 -1px #000 !important;
  }

  .btn-primary,
  .btn-secondary,
  .btn-success,
  .btn-info,
  .btn-warning,
  .btn-danger,
  .btn-link {
    &,
    &.disabled,
    &:disabled {
      color: #000;
      background-color: transparent;
      border-color: #000;
    }
  }

  .custom-control-label::before {
    background-color: transparent !important;
    border-color: #000 !important;
  }

  .custom-switch .custom-control-label::after {
    background-color: transparent;
    border: 1px solid #000;
  }

  .custom-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23000' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
  }

  .custom-range {
    &,
    &:disabled {
      &::-webkit-slider-thumb {
        width: $custom-range-thumb-width - 2px;
        height: $custom-range-thumb-height - 2px;
        background-color: #fff;
        border: 1px solid #000;
      }

      &::-webkit-slider-runnable-track {
        background-color: transparent;
        border: 1px solid #000;
      }

      &::-moz-range-thumb {
        width: $custom-range-thumb-width - 2px;
        height: $custom-range-thumb-height - 2px;
        background-color: #fff;
        border: 1px solid #000;
      }

      &::-moz-range-track {
        background-color: transparent;
        border: 1px solid #000;
      }

      &::-ms-thumb {
        width: $custom-range-thumb-width - 2px;
        height: $custom-range-thumb-height - 2px;
        background-color: #fff;
        border: 1px solid #000;
      }

      &::-ms-track {
        background-color: transparent;
        border: 1px solid #000;
      }
    }
  }

  // Unset Bootstrap styles.
  pre,
  blockquote {
    page-break-inside: auto;
  }

  // 'avoid' in 'break-after' and 'break-before' is not yet supported in Chrome,
  // unfortunately: https://www.chromestatus.com/feature/5630943616303104
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  summary {
    break-after: avoid;
    break-inside: avoid;
  }

  figure {
    break-inside: avoid;
  }

  summary {
    break-before: avoid;
  }

  details {
    break-before: auto;
  }

  .allow-break-inside {
    break-inside: auto;
  }

  .avoid-break-inside {
    break-inside: avoid;
  }
}
