.static-output,
.dynamic-output {
  display: inline-block;
  padding: 1px 3px;
  margin: -1px -3px;
  border-radius: 4px;
  text-align: center;
}

pre,
code {
  .static-output,
  .dynamic-output {
    padding: 2px 4px;
    margin: -2px -4px;
  }
}

.static-output:hover,
.dynamic-output:hover {
  position: relative;
  z-index: 1;
  color: $body-bg;

  * {
    color: $body-bg;
  }
}

.static-output:hover {
  background-color: $blue;
}

.dynamic-output:hover {
  background-color: $green;
}

.dynamic-output-pointer .dynamic-output {
  cursor: pointer;
}

.prompt {
  font-weight: bold;
}

.click-to-copy {
  padding: 2px 4px;
  margin: -2px -4px;
  cursor: pointer;
  border-radius: 4px;

  &:focus {
    background-color: $select-color;
    outline: none;
  }
}
