/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

.static-output,
.dynamic-output {
  padding: 1px 3px;
  margin: -1px -3px;
  border-radius: 4px;
}

pre,
code {
  .static-output,
  .dynamic-output {
    padding: 2px 4px;
    margin: -2px -4px;
  }
}

.static-output:hover,
.dynamic-output:hover {
  position: relative;
  z-index: 1;
  color: $body-bg;

  * {
    color: $body-bg;
  }
}

.static-output:hover {
  background-color: $blue;
}

.dynamic-output:hover {
  background-color: $green;
}

.dynamic-output-pointer .dynamic-output {
  cursor: pointer;
}

.prompt {
  font-weight: bold;
}

.click-to-copy {
  display: inline-block; // This value is required for the animation.
  padding: 2px 4px;
  margin: -2px -4px;
  cursor: pointer;
  border-radius: 4px;

  &:focus {
    background-color: $select-color;
    outline: none;
  }
}

.click-to-copy-padding-top {
  td,
  th {
    padding-top: 4px;
  }
}

.click-to-copy-padding-bottom {
  td,
  th {
    padding-bottom: 4px;
  }
}

pre.wrapped {
  white-space: pre-wrap;

  .click-to-copy {
    max-width: 100%;
  }
}

.emoji {
  font-family: sans-serif;
}

.warning-symbol {
  @extend .emoji;
  margin-right: .5rem;
  margin-left: .25rem;
}

.margin-left-to-same + .margin-left-to-same {
  margin-left: 1rem;
}
