/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

@media screen {
  body {
    padding-top: $body-padding-top;
    padding-bottom: calc(100vh - #{$body-padding-top} - 60px);
  }

  div.container-fluid {
    max-width: 1170px;
  }

  summary {
    > span:last-of-type {
      margin-right: .2em; // Add the margin here instead of the anchor in order to center the scaling.
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    > span {
      cursor: pointer;

      &:last-of-type {
        margin-right: .3em; // Add the margin here instead of the anchor in order to center the scaling.
      }
    }
  }

  .anchorjs-link {
    padding-left: 0 !important; // Remove the padding here in order to center the scaling.
  }
}
