/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

::selection {
  background-color: rgba($select-color, .99); // Opacity value necessary due to browser override.
}
