/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

$tab-padding-outside: 7px;
$tab-border-radius: 13px;

ul.tabs {
  padding-left: 0;
  text-align: center;
  user-select: none;

  li {
    display: inline-block !important;
    padding: 1px 5px;
    margin-top: 0;
    margin-left: -1px;
    font-size: $small-font-size;
    list-style: none;
    cursor: pointer;
    background-color: $body-bg;
    border: 1px solid $body-color;
  }

  li.active {
    color: $body-bg;
    background-color: $body-color;
  }

  li:first-child {
    padding-left: $tab-padding-outside;
    border-top-left-radius: $tab-border-radius;
    border-bottom-left-radius: $tab-border-radius;
  }

  li:last-child {
    padding-right: $tab-padding-outside;
    border-top-right-radius: $tab-border-radius;
    border-bottom-right-radius: $tab-border-radius;
  }
}

details ul.tabs li {
  background-color: $jumbotron-bg;
}

.pre-background {
  background-color: $pre-bg !important;

  .newline {
    margin-top: .2em;
  }
}

.bordered {
  padding: $paragraph-margin-bottom;
  padding-bottom: 0;
  margin-bottom: $paragraph-margin-bottom;
  border: 1px solid $body-color;
  border-radius: $border-radius;
}

div.tabbed {
  @extend .bordered;
  position: relative;
  padding: 0;
  margin-top: 26px;

  > * {
    padding: $paragraph-margin-bottom;
    padding-bottom: 0;
    border-top: 1px solid $body-color;

    &:first-child {
      border-top: 0;
    }
  }

  > figure {
    margin: 0;
    margin-bottom: $paragraph-margin-bottom;
  }

  &.javascript-enabled {
    padding-top: 11px;

    > * {
      position: relative;
      display: none !important;
      border-top: 0;
    }
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 1px 5px;
    font-size: $small-font-size;
    border-right: 1px solid $body-color;
    border-bottom: 1px solid $body-color;
    border-bottom-right-radius: $border-radius;
  }

  &.show-all {
    padding-top: 0;

    .title {
      display: block;
    }

    > * {
      padding-top: 27px;
    }
  }

  .shown {
    display: block !important;
  }

  .shown + .shown {
    border-top: 1px solid $body-color;
  }

  ul.tabs {
    position: absolute;
    top: -14.5px;
    right: 0;
    left: 0;
    z-index: 1;
    display: block !important;
    padding: 0;
  }

  > ul,
  > ol {
    padding-left: 32px;
  }

  > div > ul,
  > div > ol {
    padding-left: 15px;
  }

  > ul,
  > ol,
  > div > ul,
  > div > ol {
    li:first-child {
      margin-top: 0;
    }
  }

  hr {
    margin-top: $paragraph-margin-bottom;
    margin-bottom: $paragraph-margin-bottom;
  }
}
