/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

.table-title {
  margin-bottom: $paragraph-margin-bottom / 2;
  font-weight: bold;
  text-align: center;
}

.table-title + * {
  margin-top: 0;
}

.table-with-vertical-border-after-column-1 {
  td:nth-child(1),
  th:nth-child(1) {
    border-right: (2 * $table-border-width) solid $table-border-color;
  }
}

.table-with-vertical-border-after-column-2 {
  td:nth-child(2),
  th:nth-child(2) {
    border-right: (2 * $table-border-width) solid $table-border-color;
  }
}

.table-with-vertical-border-after-column-3 {
  td:nth-child(3),
  th:nth-child(3) {
    border-right: (2 * $table-border-width) solid $table-border-color;
  }
}

.table-with-vertical-border-after-column-4 {
  td:nth-child(4),
  th:nth-child(4) {
    border-right: (2 * $table-border-width) solid $table-border-color;
  }
}
