/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

:target {
  scroll-margin-top: $body-padding-top;
  animation-name: target-fade;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes target-fade {
  from { color: $link-color; }
  to { color: $body-color; }
}
