/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

// The following variables are declared after Bootswatch
// in order to rely on the colors of the corresponding theme.

// These variables are copied without changes from Bootstrap because we already need them now:
$body-color: $gray-900 !default; // Only set by the dark theme but not the light one.
$component-active-bg: $primary !default;

// Text

$hr-border-color: $body-color !default;

// Navbar

// Revert: https://github.com/thomaspark/bootswatch/commit/75794debc6c40ef7c511bc4e04fd6cddf1a78c27
$navbar-dark-color: $white; // Cannot only be default as already set by Bootswatch.
$navbar-dark-hover-color: $success; // Cannot only be default as already set by Bootswatch.

// Forms

$input-color: $body-color !default;

$custom-select-indicator-color: $body-color !default;
$custom-select-border-radius: 0 !default;
$custom-select-disabled-color: $gray !default;
$custom-select-disabled-bg: transparent !default;

$custom-range-track-height: 5px !default;
$custom-range-track-border-radius: $custom-range-track-height / 2 !default;
$custom-range-thumb-width: 14px !default;
$custom-range-thumb-border-radius: $custom-range-thumb-width / 2 !default;
$custom-range-thumb-disabled-bg: $gray !default;

$custom-control-indicator-bg: transparent !default;
$custom-control-indicator-box-shadow: none !default;
$custom-control-indicator-border-width: 1px !default;
$custom-control-indicator-border-color: $custom-control-color !default;
$custom-control-indicator-disabled-color: $gray !default;

$input-box-shadow: inset 0 -1px $primary !default;
$input-focus-box-shadow: inset 0 -2px $link-color !default;
$custom-select-focus-box-shadow: $input-focus-box-shadow !default;
$custom-range-thumb-focus-box-shadow: 0 0 0 2px $link-color !default;
$custom-control-indicator-focus-box-shadow: 0 0 0 2px $link-color !default;

// Dropdowns

$dropdown-link-color: $body-color; // Cannot only be default as already set by Bootswatch.
