/*
Author: Kaspar Etter (https://kasparetter.com/)
Work: Explained from First Principles (https://ef1p.com/)
License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*/

// https://blog.jim-nielsen.com/2020/color-scheme-property/
:root {
  color-scheme: dark;
}

$blue:   hsl(210deg, 100%, 65%) !default;
$purple: hsl(290deg, 100%, 60%) !default;
$pink:   hsl(330deg, 100%, 60%) !default;
$red:    hsl(0deg, 100%, 60%) !default;
$orange: hsl(25deg, 100%, 60%) !default;
$yellow: hsl(45deg, 100%, 60%) !default;
$green:  hsl(165deg, 100%, 40%) !default;
$brown:  hsl(30deg, 50%, 50%) !default;
$gray:   hsl(0deg, 0%, 65%) !default;

$body-bg: hsl(280deg, 5%, 10%) !default;
$jumbotron-bg: hsl(280deg, 5%, 15%) !default;
$pre-bg: darken($body-bg, 5%) !default;
$select-color: hsl(45deg, 100%, 20%) !default;

@import "variables-pre";
@import "../node_modules/bootswatch/dist/darkly/variables";
$custom-control-color: $body-color !default;
@import "variables-post";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/darkly/bootswatch";
@import "all";

@media screen {
  .light-theme-only {
    display: none !important;
  }
}

@media print {
  .dark-theme-only {
    display: none !important;
  }
}
